<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            <li class="inline-block">
              <a class="align-middle link-primary header-link mr-2" href="#about">About</a>
            </li>
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-4 font-smoothing mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thick">
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

            <div class="col-4 sm-width-full right border-top-thick mt-3 mt-lg-0 ml-lg-4 table">
                <div class="right inline-block mt-3 ml-1">
                  {% include github.html %}
                </div>
                <div class="right inline-block mt-3 ml-1">
                  {% include medium.html %}
                </div>
                <div class="right inline-block mt-3">
                  {% include {{ site.social_link | default: "twitter" }}.html %}
                </div>
            </div>
          </div>

        </div>
      </header>
    </div>

    <div class="border-top-thin about-background">
    <article class="about-text container px-3 mx-auto mt-4 mb-2" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="col-9 sm-width-full mb-3 border-bottom-thick">
      <h1 id="about" class="about-title h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">About</h1>
      </div>

      <div class="prose" itemprop="articleBody">
        {% capture my_include %}{% include about.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>

    </article>
    </div>


    <div class="border-top-thin post-background">
    <div class="post-text container px-3 mx-auto mt-4 mb-2">
    <div class="col-9 post-text sm-width-full mb-3 border-bottom-thick">
      <h1 id="about" class="post-title h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">Posts</h1>
      </div>
      {% for post in site.posts %}
        {% include post_block.html %}
      {% endfor %}
    </div>
    </div>
    {% include footer.html %}

  </body>

</html>
